@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
}

html {
  background: #1a1a1a;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: system-ui;
  color: #e5e5e5;
}

img {
  display: block;
}

h1 {
  font-weight: bold;
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      text-align: center;
    }
  }

  .links {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      border-radius: 4px;
    }

    .admin {
      color: #1a1a1a;
      background: #e5e5e5;
      border: 1px solid #404040;
    }

    .docs {
      color: #e5e5e5;
      background: #2a2a2a;
      border: 1px solid #404040;
    }
  }

  .footer {
    display: flex;
    align-items: center;

    .codeLink {
      text-decoration: none;
      background: #404040;
      border-radius: 4px;
    }
  }
}
